In [49]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [53]:

dbPrefix = "postgresql"
dbId = "postgres"
dbPw = "postgres"
dbIp = "192.168.110.111"
dbPort = "5432"
dbName = "postgres"
pgEngine = create_engine(f"{dbPrefix}://{dbId}:{dbPw}@{dbIp}:{dbPort}/{dbName}")
selSelect = """
SELECT *
from csdata_kopo ck
"""

indata = pd.read_sql_query(selSelect, pgEngine)

In [52]:
indata

     custid     avgprice  emi  devicecount  productage          custtype
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [27]:
indata.to_sql(name = "select * from csdata_kopo",
              con = pgEngine,
              if_exists = "replace"
            )

150

In [38]:
dbPrefix = "mysql+pymysql"
dbId = "hkcode"
dbPw = "hkcodemariadb"
dbIp = "139.150.80.119"
dbPort = "3306"
dbName = "hkcodedb"
pg1Engine = create_engine(f"{dbPrefix}://{dbId}:{dbPw}@{dbIp}:{dbPort}/{dbName}")

In [39]:
indata.to_sql(name = "csdata_김태일",
              con = pg1Engine,
              if_exists = "replace"
            )

150